<%= form_with(model: dam, local: true) do |form| %>
  <% if dam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dam.errors.count, "error") %> prohibited this dam from being saved:</h2>

      <ul>
        <% dam.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dam_code %>
    <%= form.text_field :dam_code %>
  </div>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :dam_created %>
    <%= form.datetime_select :dam_created, {:start_year => 1900, :end_year => Date.current.year} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
